<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MBCEventDonation</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="EventDonation" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Manage Donations
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="EventExpenses" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Manage Expenses
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PRTimes" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Prayer Times
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
                <NavLink class="nav-link" href=" PRTimesThroughApiController" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true"></span>  PRTimesThroughApiController
                </NavLink>
            </li>*@

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="registrationpage" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> sample DevExpress form
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DragnDrop" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> upload files
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CustomStyle" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Blazored Modal
            </NavLink>
        </li>

    </ul>
</div>

@code {
    bool collapseNavMenu = true;
    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}


